<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta name="description" content="{% if page.description %}{{ page.description | escape }}{% else %}{{ site.description | escape }}{% endif %}" />
    <link rel="stylesheet" href="/assets/css/style.css" />
  </head>
  <body class="layout-{{ page.layout | default: 'default' }}">
    {% include header.html %}
    <main class="site-main">
      {{ content }}
    </main>
    {% include footer.html %}
    {% include netlify-identity.html %}
  </body>
</html>
